# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/U2-S2-progetto
dev assets/01_Netflix_Logo.zip
dev assets/02_Netflix_Symbol.zip
dev assets/placeholdPoster.svg
dev assets/netflix_logo.png
dev assets/Netflix_Symbol_RGB.png
Cose Da aggiungere.txt
