/* MainPage CSS */

/* .dropdown-toggle::after {
  display: none !important;
} */

.slide-1,
.slide-2,
.modal-details,
.slide-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container-details {
  z-index: 1;
}

.media-details-bg img {
  object-fit: cover;
}

.media-details-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
}

.modal-details::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.slide-1 {
  background-image: url(../../public/fh-slider/django-unchained.jpg);
}

.slide-2 {
  background-image: url(../../public/fh-slider/knives-out-sfondo.jpg);
}

.slide-3 {
  background-image: url(../../public/fh-slider/frankenstein.jpg);
}

.hiding-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smooth-carousel {
  scroll-behavior: smooth;
}

.smooth-carousel img {
  transition: all 500ms ease;
  cursor: pointer;
}

.smooth-carousel img:hover {
  transform: scale(0.95);
  z-index: 10;
  position: relative;
}

.arrow-left,
.arrow-right {
  z-index: 10;
}

.arrow-right {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.arrow-left {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

h4,
.h4 {
  z-index: 100;
  position: relative;
}

/* Login Page CSS */
#checkbox-css .form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
#checkbox-css .form-check input {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.form-check input:checked {
  background-color: #000;
  border-color: #ffffff;
}

.dropdown-item:active {
  background-color: grey !important;
}
