.dropdown-toggle::after {
  display: none !important;
}

.slide-1,
.slide-2,
.slide-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-1 {
  background-image: url(../../public/fh-slider/django-unchained.jpg);
}

.slide-2 {
  background-image: url(../../public/fh-slider/knives-out-sfondo.jpg);
}

.slide-3 {
  background-image: url(../../public/fh-slider/frankenstein.jpg);
}
